$white: #ffffff;
$black: #323232;

$grey1: #f7f8fd;
$grey2: #f1f2f9;
$light-grey: #e1e5f3;
$grey3: #b3b7cc;
$dark-grey1: #4c5066;
$dark-grey2: #393c46;

$primary-color: #26a4d9;
$secondary-color: #2272a4;

$red: #ed5e68;

//box-shadow used for card
$primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$secondary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//z-index to display modals
$zModal: 19;
$zModalOverlay: 18;

//Commun break points
$break--mobile: 414px;
$break--tablet-p: 768px;
$break--tablet-l: 1024px;
$break--desk: 1280px;
